@import "tailwindcss";


.ejm{
  color: blue;
}

.button{
  background-color: yellowgreen;
  border-radius: 50%;
  display: flex;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}

.conta{
  background-color: burlywood;
  border-radius: 50%;
  display: flex;
  margin: 20px;
  padding: 20px;
}
.contador{
  background-color: aqua;
  color: blueviolet;
  cursor: pointer;
}
